:root {
  --mode-background-color: white;
  --mode-background-color-tp: rgba(255, 255, 255, 0.9);
  --mode-color: black;
  --mode-border-color: black;
  --mode-shadow-color-begin: grey;
  --mode-shadow-color-end: white;
  --mode-img-color: 0;
  --mode-popup-color: hsla(0, 0%, 100%, 0.95);
  --mode-reset-color: #ee3333;
  --mode-blur-color-begin: rgba(255, 255, 255, 0);
  --mode-blur-color-end: #ffffff;
  --mode-border-color-begin: rgba(0, 0, 0, 0.2);
  --mode-border-color-end: #000000;
}
[data-theme="dark"] {
  --mode-background-color: #212121;
  --mode-background-color-tp: rgba(33, 33, 33, 0.9);
  --mode-color: white;
  --mode-border-color: #d6d6d6;
  --mode-shadow-color-begin: slategray;
  --mode-shadow-color-end: #212121;
  --mode-img-color: 1;
  --mode-popup-color: rgba(33, 33, 33, 0.95);
  --mode-reset-color: #460000;
  --mode-blur-color-begin: rgba(33, 33, 33, 0);
  --mode-blur-color-end: #212121;
  --mode-border-color-begin: rgba(255, 255, 255, 0.2);
  --mode-border-color-end: #ffffff;
}
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
div {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-family: "Consolas";
}
#game {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#all {
  position: relative;
  top: 0px;
  height: calc(100% - 27.5px - 4px);
}
#credit {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 27.5px;
  text-align: center;
  vertical-align: middle;
  line-height: 23.5px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  overflow: hidden;
  font-size: min(15px, 1.85vw);
}
#header {
  width: 65%;
  height: 35px;
  overflow-x: hidden;
  cursor: default;
}
#main {
  position: absolute;
  top: 35px;
  width: 65%;
  bottom: 0px;
  margin-top: 4px;
}
#context {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 65%;
  right: 0px;
  margin-left: 4px;
}
#title {
  position: absolute;
  width: 190px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 2;
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.wrapper-number {
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 190px;
  margin-left: 4px;
  padding-right: 4px;
}
.blurry-number {
  width: 100%;
  height: 100%;
}
.blurry-number::before {
  left: 0px;
  background: linear-gradient(0.75turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  top: 0px;
  width: 15px;
  height: 100%;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}
.blurry-number::after {
  right: 0px;
  background: linear-gradient(0.25turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  top: 0px;
  width: 15px;
  height: 100%;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}
.before-number,
.after-number {
  visibility: hidden;
}
.before-number {
  flex-basis: 15px;
  width: 2px;
}
.after-number {
  flex-basis: 20px;
  width: 20px;
}
.number {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.number::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.currency {
  flex-basis: auto;
  height: 35px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  white-space: pre;
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  cursor: pointer;
}
#before-wrapper-interact {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
#blurry-interact {
  width: 100%;
  height: 100%;
}
#blurry-interact::before {
  top: 0px;
  background: linear-gradient(0turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  left: 0px;
  width: 100%;
  height: 30px;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}
#blurry-interact::after {
  bottom: 0px;
  background: linear-gradient(0.5turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  left: 0px;
  width: 100%;
  height: 30px;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}
#after-wrapper-interact {
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  overflow-y: auto;
}
#after-wrapper-interact::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
#before-interact,
#after-interact {
  visibility: hidden;
}
#before-interact {
  height: 30px;
}
#after-interact {
  height: 50px;
}
#interact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 300px);
  grid-gap: 8px;
  overflow-y: auto;
}
.generator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 42.5px auto;
  grid-gap: 4px;
  overflow: hidden;
}
.generator-manual {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  overflow-x: hidden;
  margin: 0px 0px 1px 0px;
  box-shadow: 2px 1px 2px var(--mode-shadow-color-begin);
  cursor: pointer;
  touch-action: manipulation;
}
.generator-manual:active {
  margin: 1px 0px 0px 0px;
}
.generator-manual:active {
  box-shadow: 0 0 0 var(--mode-shadow-color-end);
}
.wrapper-generator-group {
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.blurry-generator-group {
  width: 100%;
  height: 100%;
}
.blurry-generator-group::before {
  top: 0px;
  background: linear-gradient(0turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  left: 0px;
  width: 100%;
  height: 7.5px;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}
.blurry-generator-group::after {
  bottom: 0px;
  background: linear-gradient(0.5turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  left: 0px;
  width: 100%;
  height: 7.5px;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}
.before-group-member,
.after-group-member {
  visibility: hidden;
}
.generator-group {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 253.5px;
}
.generator-group::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.generator-group-member {
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  margin-bottom: 4px;
}
.wrapper-generator-upgrade {
  overflow: hidden;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.blurry-generator-upgrade {
  width: 100%;
  height: 100%;
}
.blurry-generator-upgrade::before {
  top: 0px;
  background: linear-gradient(0turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  left: 0px;
  width: 100%;
  height: 7.5px;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}
.blurry-generator-upgrade::after {
  bottom: 0px;
  background: linear-gradient(0.5turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  left: 0px;
  width: 100%;
  height: 7.5px;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}
.before-upgrade-member,
.after-upgrade-member {
  visibility: hidden;
}
.before-upgrade-member {
  height: 4px;
}
.generator-upgrade {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 253.5px;
}
.generator-upgrade::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.wrapper-generator-upgrade-member {
  margin-bottom: 4px;
  padding: 0px 0px 1px 0px;
}
.wrapper-generator-upgrade-member:active {
  padding: 1px 0px 0px 0px;
}
.generator-upgrade-member {
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  box-shadow: 2px 1px 2px var(--mode-shadow-color-begin);
  cursor: pointer;
  touch-action: manipulation;
}
.generator-upgrade-member:active {
  box-shadow: 0 0 0 var(--mode-shadow-color-end);
}
#before-wrapper-global-upgrade {
  width: 100%;
  height: calc(100% - 35px - 4px);
  overflow-y: hidden;
}
#blurry-global-upgrade {
  width: 100%;
  height: 100%;
}
#blurry-global-upgrade::before {
  top: 0px;
  background: linear-gradient(0turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  left: 0px;
  width: 100%;
  height: 17.5px;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}
#blurry-global-upgrade::after {
  bottom: 0px;
  background: linear-gradient(0.5turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  left: 0px;
  width: 100%;
  height: 17.5px;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}
#after-wrapper-global-upgrade {
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  overflow-y: auto;
}
#after-wrapper-global-upgrade::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
#before-global-upgrade,
#after-global-upgrade {
  visibility: hidden;
}
#before-global-upgrade {
  height: 12.5px;
}
#after-global-upgrade {
  height: 30px;
}
#global-upgrade {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 8px;
  overflow-y: auto;
}
.global-upgrade-member {
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  margin: 0px 0px 1px 0px;
  box-shadow: 2px 1px 2px var(--mode-shadow-color-begin);
  cursor: pointer;
  touch-action: manipulation;
}
.global-upgrade-member:active {
  margin: 1px 0px 0px 0px;
}
.global-upgrade-member:active {
  box-shadow: 0 0 0 var(--mode-shadow-color-end);
}
#config {
  width: 100%;
  height: 35px;
  white-space: nowrap;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.config-member {
  flex-basis: fill;
  flex-grow: 1;
  margin-right: 4px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 1.75;
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
#achievement::after {
  background-image: url("https://img.icons8.com/ios-filled/100/000000/prize.png");
}
#save {
  --image-url: url("https://img.icons8.com/ios-filled/100/000000/save.png");
}
#save::after {
  transition-property: background-image;
  transition-duration: 500ms;
  transition-timing-function: ease;
  background-image: var(--image-url);
}
#settings {
  flex-basis: 35px;
  height: 35px;
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
#settings::after {
  background-image: url("https://img.icons8.com/ios-filled/100/000000/settings-3.png");
}
#config > div::after {
  position: absolute;
  height: 95%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(var(--mode-img-color)) blur(0px);
}
#wrapper-popup {
  position: relative;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  z-index: 1;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.popup > div {
  background: var(--mode-popup-color);
}
.popup > div:not(:first-child) {
  position: relative;
  top: 28px;
  left: 0px;
  width: 100%;
  height: calc(100% - 30px + 2px);
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  visibility: hidden;
}
#popup-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: 0px;
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  cursor: pointer;
}
#popup-close::after {
  position: absolute;
  height: 95%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(var(--mode-img-color)) blur(0px);
  background-image: url("https://img.icons8.com/ios-glyphs/90/000000/multiply.png");
}
#popup-menu-extra {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 4px;
}
#popup-menu-extra > div {
  flex-basis: fill;
  width: 100%;
  margin: 2px;
}
#popup-menu-extra > div {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: flex-start;
}
#popup-menu-extra > div > * {
  flex-basis: fill;
  flex-grow: 1;
}
#popup-menu-extra > div > span {
  padding: 4px;
}
#popup-menu-extra > div:nth-child(1) > div {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: flex-start;
}
#popup-menu-extra > div:nth-child(1) > div > label {
  flex-basis: fill;
  flex-grow: 1;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}
#popup-menu-extra > div:nth-child(1) > div > label input[type="radio"] {
  display: none;
}
#popup-menu-extra > div:nth-child(1) > div > label input[type="radio"]:checked + span::after {
  opacity: 1;
}
#popup-menu-extra > div:nth-child(1) > div > label input[type="radio"]:checked + span {
  box-shadow: 0px 0px 0px 2.5px var(--mode-border-color-end);
  opacity: 1;
}
#popup-menu-extra > div:nth-child(1) > div > label > span {
  position: relative;
  transition-property: box-shadow, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  opacity: 0.65;
  border-radius: 5px;
  padding: 4px;
  box-shadow: 0px 0px 0px 2px var(--mode-border-color-begin);
}
#popup-menu-extra > div:nth-child(1) > div > label > span::before,
#popup-menu-extra > div:nth-child(1) > div > label > span::after {
  content: '';
}
#popup-menu-extra > div:nth-child(1) > div > label > span::after {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  opacity: 0;
}
#popup-menu-extra > div:nth-child(2) {
  padding-right: 8px;
}
#popup-menu-extra > div:nth-child(2) > input[type="range"] {
  margin: 4px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]:focus {
  outline: none;
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]::-webkit-slider-runnable-track {
  background: var(--mode-background-color);
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  width: 100%;
  height: 8px;
  display: flex;
  align-items: center;
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  background: var(--mode-background-color);
  border: 3px solid var(--mode-border-color);
  border-radius: 6px;
  cursor: pointer;
  -webkit-appearance: none;
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--mode-background-color);
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]::-moz-range-track {
  background: var(--mode-background-color);
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  width: 100%;
  height: 8px;
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--mode-background-color);
  border: 3px solid var(--mode-border-color);
  border-radius: 6px;
  cursor: pointer;
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4px 0;
  color: transparent;
  width: 100%;
  height: 8px;
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]::-ms-fill-lower {
  background: var(--mode-background-color);
  border: 2px solid var(--mode-border-color);
  border-radius: 10px;
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]::-ms-fill-upper {
  background: var(--mode-background-color);
  border: 2px solid var(--mode-border-color);
  border-radius: 10px;
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  background: var(--mode-background-color);
  border: 3px solid var(--mode-border-color);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]:focus::-ms-fill-lower {
  background: var(--mode-background-color);
}
#popup-menu-extra > div:nth-child(2) > input[type="range"]:focus::-ms-fill-upper {
  background: var(--mode-background-color);
}
@supports (-ms-ime-align:auto) {
  #popup-menu-extra > div:nth-child(2) > input[type="range"] input[type="range"] {
    margin: 0;
  }
}
#popup-menu-extra > div:nth-child(3) {
  padding-right: 4px;
}
#popup-menu-extra > div:nth-child(3) > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--mode-reset-color);
}
#popup-difficulty {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  column-gap: 16px;
  row-gap: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
#popup-difficulty > span {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#popup-difficulty > div {
  grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  cursor: pointer;
}
#popup-achievement {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: max-content;
  max-width: calc(50px * 10 + 4px * 2 * 11 + 4px);
  height: max-content;
  padding: 4px;
}
@media screen and (max-width: calc(50px * 7 + 4px * 2 * 8 + 4px)) {
  #popup-achievement {
    max-width: calc(50px * 5 + 4px * 2 * 6 + 4px);
  }
}
#popup-achievement > div {
  width: 50px;
  height: 50px;
  margin: 4px;
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  --mode-blur-amount: 2.25px;
  --image-url: url("https://upload.wikimedia.org/wikipedia/commons/3/38/Blank_space.png");
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
#popup-achievement > div::after {
  position: absolute;
  height: 95%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(var(--mode-img-color)) blur(var(--mode-blur-amount));
  top: 0px;
  left: 0px;
  background-image: var(--image-url);
  z-index: 1;
}
#popup-achievement > div > div {
  width: 100%;
  height: 100%;
}
#popup-achievement > div > div::after {
  position: absolute;
  height: 95%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(var(--mode-img-color)) blur(0px);
  background-image: url("https://img.icons8.com/ios/50/000000/lock--v2.png");
}
[data-tooltip]:before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  transition-property: width, opacity, z-index, margin-top;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 8px;
  border-radius: 10px;
  color: var(--mode-color);
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  overflow-y: hidden;
  z-index: 0;
}
[data-tooltip]:hover:before {
  /* needed - do not touch */
  opacity: 1;
  background-color: var(--mode-background-color-tp);
  margin-top: -25px;
  width: 200px;
  height: 50px;
  z-index: 2;
}
body {
  background-color: var(--mode-background-color);
}
div,
span,
label {
  color: var(--mode-color);
}
/*
@keyframes flip-on-flex {
	from {
		visibility: hidden;
		display: none;
	}
	50% {
		visibility: visible;
		display: flex;
	}
	to {
		visibility: visible;
		display: flex;
	}
}

@keyframes flip-off-flex {
	from {
		visibility: visible;
		display: flex;
	}
	50% {
		visibility: visible;
		display: flex;
	}
	to {
		visibility: hidden;
		display: none;
	}
}
//*/
/*
	// background-color: black;
	-webkit-appearance: none;

	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 8px;
		background: #ffffff;
		.setBorder(black, 2px);
		border-radius: 4px;
		
		// display: -webkit-box;
		// display: -webkit-flex;
		// display: -moz-box;
		// display: -ms-flexbox;
		// -webkit-flex-align: center;
		// -ms-flex-align: center;
		// -webkit-align-items: center;
		display: flex;
		align-items: center;
		// justify-content: center;
		// text-align: center;
		// vertical-align: middle;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 8px;
		.setBorder(black, 4px);
		background-color: white;
	}

	&:focus {
		outline: none;
	}

	&:focus::-webkit-slider-runnable-track {
		background: #eeeeee;
	}
	//*/
/*
display: inline-block;
width: auto;

margin-right: @marginElem * 2;

.alignTextCenter(1.75); //*/
/*
.blurScrollBasic(
wrapper-generator-upgrade, {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	
	.noselect();
},

blurry-generator-upgrade, {
	.blurScrollY(60px);
},

before-upgrade-member, {
	height: @marginElem;
},

after-upgrade-member, {},

generator-upgrade, {
	overflow-x: hidden;
	overflow-y: auto;

	.maxHeightCalc();

	//.setBorder(black, 2px);
}
);

.wrapper-generator-upgrade-member {
	margin-bottom: @marginElem;
	
	.buttonShadowReverse();
}

.generator-upgrade-member {
	.generator-basic-member();
	
	.buttonShadowRaw();
}

#config {
	width: 100%;
	height: @headerH;
	
	margin-bottom: @marginElem;
	
	.setBorder(black, 2px);
}

.blurScrollBasic(
wrapper-global-upgrade, {
	width: 100%;
	height: calc(100% - @headerH - @marginElem);
	
	.noselect();
	.setBorder(black, 2px);
},

blurry-global-upgrade, {
	.blurScrollY(60px);
},

before-global-member, {
	height: 30px;
	.hidden();
},

after-global-member, {
	height: 30px;
	.hidden();
},

global-upgrade, {
	overflow-x: hidden;
	overflow-y: auto;

	//.setBorder(black, 2px);
	
	display: grid;
  grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto-fill, min(@headerH, auto));
	grid-gap: @marginElem * 2;
}
);

.wrapper-global-upgrade-member {
	margin-bottom: @marginElem;
	
	// .setBorder(black, 2px);
	
	.buttonShadowReverse();
}

.global-upgrade-member {
	.generator-basic-member();
	
	.buttonShadowRaw();
}
//*/
/*
div {
	.borderbox();
  &#all {
    box-sizing: border-box;
    position: relative;
    top: 0px;
    height: @mainH;
		& #main {
			display: inline-block;
			position: absolute;
			bottom: 0px;
			top: 0px;
			width: @leftW;
			padding: 0px;
			& #currencies {
				overflow-y: hidden;
				position: relative;
				top: 0px;
				left: 0px;
				right: 0px;
				//height: 1.75em; //28.5px;
				margin-bottom: 5px; // this changes nothing?
				.alignTextCenter(1.75em);
				.setBorder(black);
			}
			& #interact {
				position: absolute;
				left: 0px;
				right: 0px;
				top: calc(1.75em + 0.1px);
				bottom: 0px;
				margin-top: 5px;
				cursor: default;
				// @divide: 3; // wtf is this ?
				.setBorder(black);
			}
		}
  }
/*
  &#credit {
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: calc(@mainH + 0.5px);
    right: 0px;
    left: 0px;
    cursor: default;
    .setBorder(black);
		.noselect();
  }
}

.fa-arrow-up {
  color: lightgray;
}
.divideLine {
  left: 0px;
  right: 0px;
  border: 1px dashed lightgray;
  margin: 5px 0px 5px 0px;
}

& #mainData {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	top: 0px;
	width: @leftW;
	padding: 0px;
	& #statsData {
		overflow: auto;
		position: relative;
		top: 0px;
		left: 0px;
		right: 0px;
		height: 1.75em;//28.5px;
		margin-bottom: 5px;
		.alignTextCenter(1.75em);
		.setBorder(black);
	}
	& #fightData {
		position: absolute;
		left: 0px;
		right: 0px;
		top: calc(1.75em + 0.1px);
		bottom: 0px;
		margin-top: 5px;
		cursor: default;
		@divide: 3;
		& #heroData {
			overflow: auto;
			display: inline-block;
			box-sizing: border-box;
			float: left;
			position: absolute;
			width: 49.75%;
			min-height: 30px;
			height: 100%;
			padding: 5px;
			.setBorder(blue, 3px);
		}
		& #enemyData {
			overflow: auto;
			display: inline-block;
			box-sizing: border-box;
			float: right;
			position: absolute;
			right: 0px;
			width: 49.75%;
			min-height: 30px;
			height: 100%;
			padding: 5px;
			.setBorder(red, 3px);
		}
		& .fightHolder {
			position: relative;
			height: @holderH;
			left: 0px;
			right: 0px;
			margin-bottom: 5px;
			.setBorder(black);
			& .fightTitle {
				overflow-x: scroll;
				overflow-y: hidden;
				padding-left: 2.5px;
				position: absolute;
				left: 0px;
				right: 1.45em;
				height: 2.425em;
				.setBorder(black);
				& .fightTitleHolder {
					width: 200%;
				}
			}
			& .fightExpand {
				.pointerHover();
				position: absolute;
				right: 0px;
				width: 1.35em;
				height: 2.425em;
				.alignTextCenter(2.4em);
				.setBorder(black);
			}
			& .fightMain {
				position: absolute;
				bottom: 0px;
				top: 2.5em;//41px;
				left: 0px;
				right: 0px;
				@pos: 30%;
				& .fightXpHolder {
					.barHolder((0 / @divide) * 100%, (2 / @divide) * 100%);
					& .fightXpShow {
						.barShow();
					}
					& .fightXpData {
						.barHolderData(0%, MediumOrchid);
					}
				}
				& .fightHpHolder {
					.barHolder((1 / @divide) * 100%, (1 / @divide) * 100%);
					& .fightHpShow {
						.barShow();
					}
					& .fightHpData {
						.barHolderData(@pos, red);
					}
					& .fightHpRegenHolder {
						.barHolder2(@pos, 15%, chartreuse);
						& .fightHpRegenData {
							.barHolderData(45%, yellow);
						}
					}
				}
				& .fightManaHolder {
					.barHolder((2 / @divide) * 100%, (0 / @divide) * 100%);
					& .fightManaShow {
						.barShow();
					}
					& .fightManaData {
						.barHolderData(@pos, blue);
					}
					& .fightManaRegenHolder {
						.barHolder2(@pos, 20%, LightSkyBlue);
						& .fightManaRegenData {
							.barHolderData(45%, DodgerBlue);
						}
					}
				}
				& .fightAttackHolder {
					overflow: hidden;
					position: absolute;
					right: 0px;
					top: 0px;
					bottom: 0px;
					width: 8px;
					.setBorder(black);
					& .fightAttackData {
						position: absolute;
						background-color: brown;
						height: 100%;
						bottom: 0px;
						left: 0px;
						right: 0px;
					}
				}
			}
		}
		& .heroNewSlotHolder {
			left: 0px;
			right: 0px;
			min-height: @holderH;
			.setBorder(black);
			text-align: center;
			& .heroNewSlotTitle {
				font-size: 1.1em;
			}
		}
		& .heroNewHolder {
			background-color: lightgray;
		}
	}
}
& #uiData {
	overflow: auto;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: @leftW + 0.25;
	bottom: 0px;
	right: 0px;
	& #showData {
		box-sizing: border-box;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 2.7em;
		cursor: default;
		margin-bottom: 5px;
		.setBorder(black);
		& #showWrapper {
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			overflow: auto;
			& #mainShow {
				& #clickUpgradeData {
					display: none;
				}
				& #fightUpgradeData {
					& .fightUpgradeHolder {
						display: none;
					}
					& .fightShowHolder {
						display: none;
					}
				}
			}
			& #optionShow {
				display: none;
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				padding: 2.5px;
				& #optionSaveButton {
					.alignTextCenter(auto);
					.setBorder(gray);
				}
				& input#autoSaveInput {
					display: inline-block;
					margin-top: 2px;
					width: 45px;
					.alignTextCenter(auto);
				}
				& input#buyAmountInput {
					display: inline-block;
					margin-top: 2px;
					width: 45px;
					.alignTextCenter(auto);
				}
			}
			& #statsShow {
				display: none;
			}
			& #upgradeShow {
				display: none;
				& .upgradeShowData {
					text-align: center;
					display: inline-block;
					box-sizing: border-box;
					padding: 0px 5px 0px 5px;
					margin: 5px 0px 0px 5px;
					.setBorder(grey, 2px);
				}
			}
			& #adventureShow {
				display: none;
				position: absolute;
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
				& .adventureHolder {
					position: absolute;
					left: 0px;
					right: 0px;
					text-align: center;
					margin: 2.5px 2.5px 0px 2.5px;
					.setBorder(gray, 2px);
					& .zoneInput {
						width: 50%;
						text-align: center;
					}
				}
			}
			& #achievementShow {
				padding: 2.5px;
				& .achievementHolder {
					width: 40px;
					height: 40px;
					display: inline-block;
					margin-bottom: 2.5px;
					.alignTextCenter(40px);
					.setBorder(gray, 2px);
				}
			}
		}
		& #detailShow {
			display: none;
			overflow: auto;
			position: absolute;
			left: 0px;
			right: 0px;//17
			bottom: 0px;
			height: 150px;
			background-color: white;
			.setBorder(gray, 2px);
			& #detailClose {
				position: absolute;
				right: 0px;
				top: -1px;
				font-size: 20px;
				z-index: 1;
			}
			& #detailUpgrade {
				& #buyUpgradeButton {
					position: relative;
					left: 0px;
					right: 0px;
					top: 0px;
					height: 23px;
					.alignTextCenter(23px);
					.setBorder(darkgray, 2px);
				}
			}
		}
	}
	& #optionData {
		overflow-x: scroll;
		display: inline-block;
		position: absolute;
		bottom: 0px;
		right: 0px;
		left: 0px;
		height: 2.7em;
		text-align: center;
		vertical-align: middle;
		.setBorder(black);
		& #optionWrap {
			position: absolute;
			width: 1000%;
			& .optionDataButton {
				display: inline;
				box-sizing: border-box;
				float: left;
				top: 0px;
				bottom: 0px;
				height: 1.68em;
				margin-right: 5px;
				padding: 0px 2.5px 0px 2.5px;
				.alignTextCenter(150%);
				.setBorder(brown, 2px);
			}
		}
	}
}

//*/
