:root {
  --mode-background-color: white;
  --mode-background-color-tp: rgba(255, 255, 255, 0.9);
  --mode-color: black;
  --mode-border-color: black;
  --mode-shadow-color-begin: grey;
  --mode-shadow-color-end: white;
  --mode-img-color: 0;
  --mode-popup-color: hsla(0, 0%, 100%, 0.95);
  --mode-reset-color: #ee3333;
  --mode-blur-color-begin: rgba(255, 255, 255, 0);
  --mode-blur-color-end: rgba(255, 255, 255, 1);
  --mode-border-color-begin: rgba(0, 0, 0, 0.2);
  --mode-border-color-end: rgba(0, 0, 0, 1);
  --mode-shine-color-first: rgba(33, 33, 33, 0.5);
  --mode-shine-color-second: rgba(33, 33, 33, 0.13);
  --mode-shine-color-third: rgba(33, 33, 33, 0);
}

[data-theme="dark"] {
  --mode-background-color: #212121;
  --mode-background-color-tp: rgba(33, 33, 33, 0.9);
  --mode-color: white;
  --mode-border-color: #d6d6d6;
  --mode-shadow-color-begin: slategray;
  --mode-shadow-color-end: #212121;
  --mode-img-color: 1;
  --mode-popup-color: rgba(33, 33, 33, 0.95);
  --mode-reset-color: rgb(70, 0, 0);
  --mode-blur-color-begin: rgba(33, 33, 33, 0);
  --mode-blur-color-end: rgba(33, 33, 33, 1);
  --mode-border-color-begin: rgba(255, 255, 255, 0.2);
  --mode-border-color-end: rgba(255, 255, 255, 1);
  --mode-shine-color-first: rgba(255, 255, 255, 0.5);
  --mode-shine-color-second: rgba(255, 255, 255, 0.13);
  --mode-shine-color-third: rgba(255, 255, 255, 0);
}

@keyframes pulseInIn {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(0.95, 0.95, 0.95);
  }
}
@keyframes pulseInOut {
  from {
    transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulseOut {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes flipIn {
  from {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }
  to {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }
}
@keyframes flipOut {
  from {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }
  to {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }
}
#bulk:active > span, #achievement:active::after, #save:active::after, #bulk > span, #achievement::after, #save::after {
  backface-visibility: visible;
  animation-fill-mode: forwards;
}

#bulk:active > span, #achievement:active::after, #save:active::after {
  animation-name: flipIn;
}

#bulk > span, #achievement::after, #save::after {
  animation-name: flipOut;
}

.generator-manual:active > span, .generator-manual > span, .generator-upgrade-member:active > span, .generator-upgrade-member > span, .global-upgrade-member:active > span, .global-upgrade-member > span, #config > div:active, #config > div {
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.generator-manual, .generator-upgrade-member, .global-upgrade-member, #credit, .currency, .config-member, #settings, #popup-close, #theme-extra > div > label, #reset-extra > div, #popup-difficulty > div {
  cursor: pointer;
}

#credit, #title, .currency, .generator-group-member, .generator-upgrade-member, .global-upgrade-member, .generator-manual, .wrapper-generator-group, .wrapper-generator-upgrade, #config, .popup {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.number, #after-wrapper-interact, .generator-group, .generator-upgrade, #after-wrapper-global-upgrade {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.number::-webkit-scrollbar, #after-wrapper-interact::-webkit-scrollbar, .generator-group::-webkit-scrollbar, .generator-upgrade::-webkit-scrollbar, #after-wrapper-global-upgrade::-webkit-scrollbar {
  display: none;
}

.currency, #popup-credit > span.separate-link {
  white-space: pre;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.before-number, .after-number, #before-interact, #after-interact, .before-group-member, .after-group-member, .before-upgrade-member, .after-upgrade-member, #before-global-upgrade, #after-global-upgrade, #wrapper-popup, .popup > div:not(:first-child) {
  visibility: hidden;
}

.blurry-number::before, .blurry-number::after {
  top: 0px;
  height: 100%;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}

#blurry-interact::before, #blurry-interact::after, .blurry-generator-group::before, .blurry-generator-group::after, .blurry-generator-upgrade::before, .blurry-generator-upgrade::after, #blurry-global-upgrade::before, #blurry-global-upgrade::after {
  left: 0px;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: block;
  content: "";
  pointer-events: none;
}

#credit, #title, .currency, .generator-group-member, .generator-upgrade-member, .global-upgrade-member, .generator-manual, .config-member, #settings, .popup > div:not(:first-child), #popup-close, #notation-extra > select, #reset-extra > div, #popup-difficulty > div, #popup-achievement > div, [data-tooltip]::before {
  border-radius: 5px;
}

.currency, .generator-group-member, .generator-upgrade-member, .global-upgrade-member, .generator-manual, #config > div::after, #settings, #popup-close::after, #popup-menu-extra > div, #theme-extra > div > label, #notation-extra > select, #reset-extra > div, #popup-difficulty > div, #popup-achievement > div, #popup-achievement > div::after, #popup-achievement > div > div::after, [data-tooltip]::before, #popup-credit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  text-align-last: center;
}

.generator-manual, .generator-upgrade-member, .global-upgrade-member {
  box-shadow: 2px 1px 2px var(--mode-shadow-color-begin);
  touch-action: manipulation;
}
.generator-manual:active, .generator-upgrade-member:active, .global-upgrade-member:active {
  box-shadow: 0 0 0 var(--mode-shadow-color-end);
}

div, #notation-extra > select {
  font-family: "Consolas", monospace;
}

body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
}

div {
  position: relative;
}

#game {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#all {
  position: relative;
  top: 0px;
  height: calc(100% - 27.5px - 4px);
}

#credit {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 27.5px;
  text-align: center;
  text-align-last: center;
  vertical-align: middle;
  line-height: 23.5px;
  border: 2px solid var(--mode-border-color);
  overflow: hidden;
  font-size: min(15px, 1.85vw);
}

#header {
  width: 65%;
  height: 35px;
  overflow-x: hidden;
  cursor: default;
}

#main {
  position: absolute;
  top: 35px;
  width: 65%;
  bottom: 0px;
  margin-top: 4px;
}

#context {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 65%;
  right: 0px;
  margin-left: 4px;
}

#title {
  position: absolute;
  width: 190px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  text-align-last: center;
  vertical-align: middle;
  line-height: 2;
  border: 2px solid var(--mode-border-color);
}

.wrapper-number {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 190px;
  margin-left: 4px;
  padding-right: 4px;
}

.blurry-number::before {
  left: 0px;
  background: linear-gradient(0.75turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  width: 15px;
}
.blurry-number::after {
  right: 0px;
  background: linear-gradient(0.25turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  width: 15px;
}

.before-number {
  flex-basis: 15px;
  width: 2px;
}

.after-number {
  flex-basis: 20px;
  width: 20px;
}

.number {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.wrapper-number {
  overflow: hidden;
}

.blurry-number {
  width: 100%;
  height: 100%;
}

.currency {
  flex-basis: auto;
  height: 35px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 8px;
  border: 2px solid var(--mode-border-color);
}

#before-wrapper-interact {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#blurry-interact {
  width: 100%;
  height: 100%;
}
#blurry-interact::before {
  top: 0px;
  background: linear-gradient(0turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  height: 30px;
}
#blurry-interact::after {
  bottom: 0px;
  background: linear-gradient(0.5turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  height: 30px;
}

#after-wrapper-interact {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#before-interact {
  height: 30px;
}

#after-interact {
  height: 50px;
}

#interact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, min(300px, auto));
  grid-gap: 8px;
  overflow-y: auto;
}

.generator-group, .generator-upgrade {
  max-height: 253.5px;
}

.generator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(42.5px, max-content) auto;
  grid-gap: 4px;
}

.generator-group-member, .generator-upgrade-member, .global-upgrade-member {
  border: 2px solid var(--mode-border-color);
}

.generator-manual {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 2px solid var(--mode-border-color);
  overflow-x: hidden;
  margin: 0px 0px 1px 0px;
}
.generator-manual:active {
  margin: 1px 0px 0px 0px;
}
.generator-manual:active > span {
  animation-name: pulseInIn;
  animation-duration: 75ms;
}
.generator-manual > span {
  animation-name: pulseInOut;
  animation-duration: 75ms;
}

.wrapper-generator-group {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.blurry-generator-group::before {
  top: 0px;
  background: linear-gradient(0turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  height: 7.5px;
}
.blurry-generator-group::after {
  bottom: 0px;
  background: linear-gradient(0.5turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  height: 7.5px;
}

.generator-group {
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper-generator-group {
  overflow: hidden;
}

.blurry-generator-group {
  width: 100%;
  height: 100%;
}

.generator-group-member {
  margin-bottom: 4px;
}

.wrapper-generator-upgrade {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.blurry-generator-upgrade::before {
  top: 0px;
  background: linear-gradient(0turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  height: 7.5px;
}
.blurry-generator-upgrade::after {
  bottom: 0px;
  background: linear-gradient(0.5turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  height: 7.5px;
}

.before-upgrade-member {
  height: 4px;
}

.generator-upgrade {
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper-generator-upgrade {
  overflow: hidden;
}

.blurry-generator-upgrade {
  width: 100%;
  height: 100%;
}

.wrapper-generator-upgrade-member {
  margin-bottom: 4px;
  padding: 0px 0px 1px 0px;
}
.wrapper-generator-upgrade-member:active {
  padding: 1px 0px 0px 0px;
}

.generator-upgrade-member:active > span {
  animation-name: pulseInIn;
  animation-duration: 75ms;
}
.generator-upgrade-member > span {
  animation-name: pulseInOut;
  animation-duration: 75ms;
}

#before-wrapper-global-upgrade {
  width: 100%;
  height: calc(100% - 35px - 4px);
  overflow-y: hidden;
}

#blurry-global-upgrade {
  width: 100%;
  height: 100%;
}
#blurry-global-upgrade::before {
  top: 0px;
  background: linear-gradient(0turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  height: 17.5px;
}
#blurry-global-upgrade::after {
  bottom: 0px;
  background: linear-gradient(0.5turn, var(--mode-blur-color-begin), var(--mode-blur-color-end));
  height: 17.5px;
}

#after-wrapper-global-upgrade {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#before-global-upgrade {
  height: 12.5px;
}

#after-global-upgrade {
  height: 30px;
}

#global-upgrade {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 8px;
  overflow-y: auto;
}

.global-upgrade-member {
  margin: 0px 0px 1px 0px;
}
.global-upgrade-member:active {
  margin: 1px 0px 0px 0px;
}
.global-upgrade-member:active > span {
  animation-name: pulseInIn;
  animation-duration: 75ms;
}
.global-upgrade-member > span {
  animation-name: pulseInOut;
  animation-duration: 75ms;
}

#config {
  width: 100%;
  height: 35px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
#config > div:active {
  animation-name: pulseInIn;
  animation-duration: 150ms;
}
#config > div {
  animation-name: pulseInOut;
  animation-duration: 150ms;
}
#config > div::after {
  position: absolute;
  height: 95%;
  width: 100%;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(var(--mode-img-color)) blur(0px);
}

#bulk {
  flex-grow: 1;
  transition: flex-grow 150ms ease-in-out;
}
#bulk > span {
  display: inline-block;
}
#bulk:active {
  flex-grow: 0.85;
}
#bulk:active > span {
  animation-duration: 250ms;
}
#bulk > span {
  animation-duration: 250ms;
}

.config-member {
  flex-grow: 1;
  margin-right: 4px;
  height: 100%;
  text-align: center;
  text-align-last: center;
  vertical-align: middle;
  line-height: 1.75;
  border: 2px solid var(--mode-border-color);
  overflow: hidden;
}

@keyframes shine {
  from {
    opacity: 1;
  }
  25% {
    opacity: 1;
    top: -250px;
    left: -50%;
  }
  to {
    opacity: 0;
    top: -250px;
    left: -50%;
  }
}
#achievement::after {
  background-image: url("https://img.icons8.com/ios-filled/100/000000/prize.png");
}
#achievement::before {
  opacity: 0;
}
#achievement:hover::before {
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-name: shine;
  animation-duration: 4000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: -1;
  content: "";
  position: absolute;
  top: -500px;
  left: -500px;
  width: 500px;
  height: 500px;
  transform: rotate(30deg);
  background: linear-gradient(to right, var(--mode-shine-color-second) 0%, var(--mode-shine-color-second) 85%, var(--mode-shine-color-first) 95%, var(--mode-shine-color-third) 100%);
}
#achievement:active::after {
  animation-duration: 250ms;
}
#achievement::after {
  animation-duration: 250ms;
}

#save {
  --image-url: url(https://img.icons8.com/ios-filled/100/000000/save.png);
}
#save:active::after {
  animation-duration: 500ms;
}
#save::after {
  animation-duration: 500ms;
}
#save::after {
  transition-property: background-image;
  transition-duration: 500ms;
  transition-timing-function: ease;
  background-image: var(--image-url);
}

#settings {
  flex-basis: 35px;
  height: 35px;
  border: 2px solid var(--mode-border-color);
}
#settings::after {
  background-image: url("https://img.icons8.com/ios-filled/100/000000/settings-3.png");
}

#render-extra > input[type="range"], #volume-extra > input[type="range"] {
  background-color: transparent;
  -webkit-appearance: none;
}
#render-extra > input[type="range"]:focus, #volume-extra > input[type="range"]:focus {
  outline: none;
}
#render-extra > input[type="range"]::-webkit-slider-runnable-track, #volume-extra > input[type="range"]::-webkit-slider-runnable-track {
  background: var(--mode-background-color);
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  width: 100%;
  height: 8px;
  display: flex;
  align-items: center;
}
#render-extra > input[type="range"]::-webkit-slider-thumb, #volume-extra > input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  background: var(--mode-background-color);
  border: 3px solid var(--mode-border-color);
  border-radius: 6px;
  cursor: pointer;
  -webkit-appearance: none;
}
#render-extra > input[type="range"]:focus::-webkit-slider-runnable-track, #volume-extra > input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--mode-background-color);
}
#render-extra > input[type="range"]::-moz-range-track, #volume-extra > input[type="range"]::-moz-range-track {
  background: var(--mode-background-color);
  border: 2px solid var(--mode-border-color);
  border-radius: 5px;
  width: 100%;
  height: 8px;
}
#render-extra > input[type="range"]::-moz-range-thumb, #volume-extra > input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--mode-background-color);
  border: 3px solid var(--mode-border-color);
  border-radius: 6px;
  cursor: pointer;
}
#render-extra > input[type="range"]::-ms-track, #volume-extra > input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4px 0;
  color: transparent;
  width: 100%;
  height: 8px;
}
#render-extra > input[type="range"]::-ms-fill-lower, #volume-extra > input[type="range"]::-ms-fill-lower {
  background: var(--mode-background-color);
  border: 2px solid var(--mode-border-color);
  border-radius: 10px;
}
#render-extra > input[type="range"]::-ms-fill-upper, #volume-extra > input[type="range"]::-ms-fill-upper {
  background: var(--mode-background-color);
  border: 2px solid var(--mode-border-color);
  border-radius: 10px;
}
#render-extra > input[type="range"]::-ms-thumb, #volume-extra > input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  background: var(--mode-background-color);
  border: 3px solid var(--mode-border-color);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0px;
}
#render-extra > input[type="range"]:focus::-ms-fill-lower, #volume-extra > input[type="range"]:focus::-ms-fill-lower {
  background: var(--mode-background-color);
}
#render-extra > input[type="range"]:focus::-ms-fill-upper, #volume-extra > input[type="range"]:focus::-ms-fill-upper {
  background: var(--mode-background-color);
}
@supports (-ms-ime-align: auto) {
  #render-extra > input[type="range"] input[type="range"], #volume-extra > input[type="range"] input[type="range"] {
    margin: 0;
  }
}

#wrapper-popup {
  position: absolute;
  width: 100vw;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: max-content;
  width: -moz-max-content;
  max-width: calc(50px * 10 + 4px * 2 * 11 + 4px);
  padding-top: 30px;
}
@media screen and (max-width: calc(50px * 7 + 4px * 2 * 8 + 4px)) {
  .popup {
    max-width: 100%;
  }
}
.popup > div {
  background: var(--mode-popup-color);
}
.popup > div:not(:first-child) {
  position: relative;
  left: 0px;
  right: 0px;
  height: calc(100% - 30px + 2px);
  border: 2px solid var(--mode-border-color);
}

#popup-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: 0px;
  border: 2px solid var(--mode-border-color);
}
#popup-close::after {
  position: absolute;
  height: 95%;
  width: 100%;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(var(--mode-img-color)) blur(0px);
  background-image: url("https://img.icons8.com/ios-glyphs/90/000000/multiply.png");
}

#popup-menu-extra {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 4px 8px;
}
#popup-menu-extra > div {
  width: 100%;
}
#popup-menu-extra > div > * {
  flex-grow: 1;
  margin: 4px 2px;
}
#popup-menu-extra > div > span {
  flex-grow: 0;
  margin-right: 16px;
}

#theme-extra > span {
  margin-right: 0 !important;
}
#theme-extra > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
#theme-extra > div > label {
  flex-grow: 1;
  margin-left: 16px;
}
#theme-extra > div > label input[type="radio"] {
  display: none;
}
#theme-extra > div > label input[type="radio"]:checked + span::after {
  opacity: 1;
}
#theme-extra > div > label input[type="radio"]:checked + span {
  box-shadow: 0px 0px 0px 2.5px var(--mode-border-color-end);
  opacity: 1;
}
#theme-extra > div > label > span {
  position: relative;
  transition-property: box-shadow, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  opacity: 0.65;
  border-radius: 5px;
  padding: 4px;
  box-shadow: 0px 0px 0px 2px var(--mode-border-color-begin);
}
#theme-extra > div > label > span::before, #theme-extra > div > label > span::after {
  content: '';
}
#theme-extra > div > label > span::after {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  opacity: 0;
}

#notation-extra > select {
  border: 2px solid var(--mode-border-color);
  background-color: var(--mode-background-color);
  color: var(--mode-color);
  text-overflow: ellipsis;
  padding: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#notation-extra > select::-ms-expand {
  display: none;
}
#notation-extra > select:focus {
  outline: none;
}
#notation-extra > select * {
  background-color: var(--mode-background-color);
}
#notation-extra > select *:checked {
  background-color: #d6d6d6;
  color: #000000;
}

#reset-extra > div {
  border: 2px solid var(--mode-border-color);
  background-color: var(--mode-reset-color);
}

#popup-difficulty {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  column-gap: 16px;
  row-gap: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
#popup-difficulty > span {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#popup-difficulty > div {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 20px;
  border: 2px solid var(--mode-border-color);
}

#popup-achievement {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;
  padding: 4px;
}
#popup-achievement > div {
  width: 50px;
  height: 50px;
  margin: 4px;
  border: 2px solid var(--mode-border-color);
  --mode-blur-amount: 2.25px;
  --image-url: url(https://upload.wikimedia.org/wikipedia/commons/3/38/Blank_space.png);
}
#popup-achievement > div::after {
  position: absolute;
  height: 95%;
  width: 100%;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(var(--mode-img-color)) blur(var(--mode-blur-amount));
  top: 0px;
  left: 0px;
  background-image: var(--image-url);
  z-index: 1;
}
#popup-achievement > div > div {
  width: 100%;
  height: 100%;
}
#popup-achievement > div > div::after {
  position: absolute;
  height: 95%;
  width: 100%;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(var(--mode-img-color)) blur(0px);
  background-image: url("https://img.icons8.com/ios/50/000000/lock--v2.png");
}

[data-tooltip]::before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  transition: min-height 150ms ease-in-out, max-height 150ms ease-in-out, opacity 150ms ease-in-out, margin-top 150ms ease-in-out, width 150ms ease-in-out, z-index 150ms step-end;
  padding: 8px;
  border-radius: 10px;
  color: var(--mode-color);
  border: 2px solid var(--mode-border-color);
  width: 25px;
  min-height: 25px;
  height: auto;
  max-height: 25px;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

[data-tooltip]:hover::before {
  /* needed - do not touch */
  opacity: 1;
  background-color: var(--mode-background-color-tp);
  margin-top: -50px;
  width: 250px;
  min-height: 25px;
  height: auto;
  max-height: 75px;
  z-index: 2;
  pointer-events: auto;
}

#popup-credit {
  display: block;
  padding: 8px;
}
#popup-credit > span > a {
  color: var(--mode-color);
}
#popup-credit > span > a:visited {
  color: #909090;
}

body {
  background-color: var(--mode-background-color);
}

div, span, label {
  color: var(--mode-color);
}
